@using PersonelDinamik.Models.EntitiyFrameWork
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success"href="/Departman/yeni">Yeni Departman</a>
<h2>Departman Listesi</h2>
<table class="table table-bordered" Id="tblDepartmanlar">
    <thead>
        <tr>
            <th>ID </th>
            <th>AD</th>
            <th>Güncelle</th>
            <th>Sil</th>
            <th>Personeller</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departman in Model)
        {
            <tr>
                <td>@departman.Id</td>
                <td>@departman.DepartmanAd</td>
                <td><a class=" btn btn-primary" href="/Departman/Guncelle/@departman.Id">Güncelle</a></td>
                <td><a class=" btn btn-warning btnDepartmanSil" data-Id="@departman.Id">Sil</a></td>
                @*<td>@Html.ActionLink("Personelleri Göster","PersonelleriListele","Personel",new
        { id = departman.Id },new { @class = "btn btn-primary" })</td>*@
                <td>
                    @Ajax.ActionLink("Personelleri Göster", "PersonelleriListele", "Personel", new
           { id = departman.Id }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "PersonelListesi" }, new { @class = "btn btn-primary" })
            </td>
            </tr>
        }

    </tbody>
</table>
<div id="PersonelListesi"></div>
