@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>_Layout</title>
    @Styles.Render("~/bundles/css")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)
</body>
</html> 