@model List<PersonelDinamik.Models.EntitiyFrameWork.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Yeni Personel", "Yeni", null, new {@class="btn btn-success"})

<h2>Personel Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>AD</th>
            <th>SOYAD</th>
            <th>DEPARTMAN</th>
            <th>MAAŞ</th>
            <th>DOĞUM TARİHİ</th>
            <th>CİNSİYET</th>
            <th>EVLİLİK DURUMU</th>
            <th>GÜNCELLE</th>
            <th>SİL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Ad</td>
                <td>@personel.Soyad</td>
                <td>@(personel.Departman!=null?personel.Departman.DepartmanAd:"Departman bilgisi yok")</td>
                <td>@personel.Maas</td>
                <td>@personel.DogumTarihi.Value.ToString("dd-MM-yyyy")</td>
                <td>@(personel.Cinsiyet==true?"Erkek":"Kadın")</td>
                <td>@(personel.EvliMi==true?"Evli":"Bekar")</td>
                <td>@Html.ActionLink("Güncelle", "Guncelle", new { Id = personel.Id }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Sil", "Sil", new { Id = personel.Id }, new { @class = "btn btn-danger" })</td>

            </tr>
        }

    </tbody>
</table>