@model List<PersonelDinamik.Models.EntitiyFrameWork.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Yeni Personel", "Yeni", null, new {@class="btn btn-success"})

<h2>Personel Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>AD</th>
            <th>SOYAD</th>
            <th>DEPARTMAN</th>
            <th>YAŞ</th>
            <th>MAAŞ</th>
            <th>DOĞUM TARİHİ</th>
            <th>CİNSİYET</th>
            <th>EVLİLİK DURUMU</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Ad</td>
                <td>@personel.Soyad</td>
                <td>@personel.Departman.DepartmanAd</td>
                <td>@(DateTime.Now.Year - personel.DogumTarihi.Value.Year)</td>
                <td>@personel.Maas</td>
                <td>@personel.DogumTarihi.Value.ToString("dd-mm-yyyy")</td>
                <td>@(personel.Cinsiyet==true?"Erkek":"Kadın")</td>
                <td>@(personel.EvliMi==true?"Evli":"Bekar")</td>
            </tr>
        }

    </tbody>
</table>