@model PersonelDinamik.ViewModels.PersonelFormViewModel
@{
    ViewBag.Title = "PersonelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personel Formu</h2>
@using (Html.BeginForm("Kaydet", "Personel", FormMethod.Post)) 
{
<div class="form-group">
    @Html.LabelFor(m=>m.personel.Ad)
    @Html.TextBoxFor(m=>m.personel.Ad)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.personel.Soyad)
    @Html.TextBoxFor(m => m.personel.Soyad)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.personel.Maas)
    @Html.TextBoxFor(m => m.personel.Maas)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.personel.DogumTarihi)
    @Html.TextBoxFor(m => m.personel.DogumTarihi)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.personel.Cinsiyet)
    @Html.TextBoxFor(m => m.personel.Cinsiyet)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.personel.EvliMi)
    @Html.TextBoxFor(m => m.personel.EvliMi)
</div>
}

